// Переменные

// Шрифты ============================================
$secondFont: "arial, sans-serif";
//===================================================

// Цвета ============================================
$white: #ffffff;
$black: #000000;
//===================================================
